# define mcp
31:new
31:names = mcp+ mcp-
31:spinType = 2
31:chargeType = 1
31:colType = 0
31:m0 = 0.1

# define Dalitz decay to mcp
# id:oneChannel = onMode bRatio meMode product1 product2
# use addChannel to preserve existing decay modes

# 111:oneChannel = 1 1 11 22 31 -31
# 221:oneChannel = 1 1 11 22 31 -31
# 113:oneChannel = 1 1 11 22 31 -31
# 223:oneChannel = 1 1 11 22 31 -31
# 333:oneChannel = 1 1 11 22 31 -31
# 
# define direct decay to mcp 
# 443:oneChannel = 1 1 0 31 -31
# 553:oneChannel = 1 1 0 31 -31
